@media (max-width:919px) and (min-width: 600px) {
    body { width: 100vw; height: 100vh; margin: 0 auto; overflow-x: hidden; overflow-y: auto;}


@media screen and (orientation:landscape) {
    body { width: 100vw; height: 100vh; margin: 0 auto; overflow-x: auto; overflow-y: hidden;}

    .container{
        width: 25%;
        height: 100%;
        background-color: #262F30;
        display: flex;
        text-align: center;
        flex-direction: column;
        }

    .ftperfil {
    padding: 0% !important ;
    margin-top: 5%;
    justify-content: center;
    width: 100%;
    }

    .ftperfil img {width: 80% !important;}

    .nameperfil {
    margin-top: 0% !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 150% !important;
    color: #FFFFFF;
    text-transform: uppercase;
    }

    .subperfil{
    padding-top: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400 !important;
    font-size: 120% !important;
    text-transform: uppercase;
    }

    .skills li {
        list-style: none;
    }
    .skills {
        padding-top: 3% !important;
        font-family: 'Saira', sans-serif;
        font-weight: 400;
        font-size: 100% !important;
        line-height: 130% !important;
        color: #D7D5C4;  
    }



}   
}