@media (max-width:657px) and (min-width: 482px){
    body { width: 100vw; height: 100vh; margin: 0 auto; overflow-x: hidden !important; overflow-y: auto !important;}

    .container{
        margin: 0 !important;
        width: 50% !important;
        height: 100% !important;
        display: flex !important;
        background-color: #262F30 !important;
    }

    .ftperfil {
        width: 90%;
     
    }
    .ftperfil img {width: 50%;}

    .nameperfil {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 200% !important;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .subperfil{
        padding-top: 3%;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 170% !important;
        color: #FFFFFF;
        text-transform: uppercase;
        }

    .skills li {
        list-style: none;
    }
    .skills {
        font-size: 140% !important;
            }
    
  
}