@media (max-width:480px){
    
    body { width: 100vw; height: 100vh; margin: 0 auto; overflow-y: auto; 
        overflow-x: hidden;
        padding: 0;}

     .container{
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: #262F30;
        display: flex;
        flex-direction: column;
    }

    
    .ftperfil {
        padding: 5%;
        width: 80%;
    }
    .ftperfil img {width: 50%;}

    .nameperfil {
        margin-top: -5% !important;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        font-size: 160%;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .subperfil{
        margin-top: -3% !important;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 130% !important;
        color: #FFFFFF;
        text-transform: uppercase;
        }

    .skills li {
        list-style: none;
    }
    .skills {
        margin-top: -5% !important;
        font-family: 'Saira', sans-serif;
        font-weight: 400;
        font-size: 110% !important;
        line-height: 120%;
        color: #D7D5C4;  
    }
    .infos{
        margin-top: -5% !important;
        font-family: 'Saira', sans-serif;
        font-weight: 400;
        font-size: 80%;
        color: #9A9C82;
    }
    .infos img{
        width: 90%;
    }    
    .infos td{
        text-align: right;
    }
    .tdEspaco{
        padding-left: 3%;
    }    
    .infos table {
        border-spacing: 1px !important;
    }
    .cidade {
       font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .map{
        margin-top: -5%;
        display: inline;
        align-items: center;
    }
    .map li {
        display: inline;
       
    }
}


